.nav {
    font-size: 14px;
    padding: 1;
    margin-bottom: 1;
    font-weight:bold;
    width: 70%;
}

.breadcrumbs {
    display: flex;
    justify-content: center;
}

ol {
    list-style: none;
    display: inline-flex;
    padding-left: 0;
    padding-bottom: 5px;
}

li {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    margin-right: 10px;
}