.nav {
    font-size: 0.8vw; 
    padding: 0.5vw; 
    font-weight: bold;
    width: 80vw; 
}

.breadcrumbs {
    display: flex;
    justify-content: center;
}

ol {
    list-style: none;
    display: inline-flex;
    padding-left: 0;
}

li {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    margin-right: 0.3vw;
}
