.radioButtonSize {
    display: inline-block;
    margin-right: 10px; 
    
    input[type="radio"] {
      display: none;
    }
    
    label {
      display: inline-block;
      width: 30px; 
      height: 30px; 
      background-color: #ccc;
      cursor: pointer;
      border: 2px solid transparent; 
      border-radius: 4px; 
    }
    
    input[type="radio"]:checked + label {
        border-width: 2px;
        border-color: #000000; 
    }
  }

.radioButtonColorWhite {
  display: inline-block;
  margin-right: 10px;
  position: relative;
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 50%; 
    position: relative;
  }

  input[type="radio"]:checked + label::after {
    content: '';
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0 8px 8px;
    border-style: solid;
    border-color: #050505 transparent;
    display: block;
  }
}

.radioButtonColorGrey {
  display: inline-block;
  margin-right: 10px;
  position: relative;
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: rgba(149, 149, 149, 1);
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 50%;
  }
  
  input[type="radio"]:checked + label::after {
    content: '';
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0 8px 8px;
    border-style: solid;
    border-color: #050505 transparent;
    display: block;
  }
}

.radioButtonColorBlack {
  display: inline-block;
  margin-right: 10px;
  position: relative;

  input[type="radio"] {
    display: none;
  }
  
  label {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: rgba(52, 52, 52, 1);
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 50%;
  }
  
  input[type="radio"]:checked + label::after {
    content: '';
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0 8px 8px;
    border-style: solid;
    border-color: #050505 transparent;
    display: block;
  }
}
  