.similarProducts {
  font-family: "Roboto", sans-serif;
  margin-top: 1.5vw;
  margin-bottom: 10vw; 
  width: 80%;

  h2 {
    font-size: 1.5vw;
    font-weight: 500;
    color: rgba(52, 52, 52, 1);
  }
}

.productsContainer {
  display: flex;
  justify-content: space-between;
  padding-left: 4.58vw; 
  padding-right: 4.58vw; 
}

.desc, .price, .name {
  display: flex;
  justify-content: start;
}

.name {
  margin-top: 0.13vw;
  margin-bottom: 0.45vw;
  font-weight: 500;
  font-size: 1.67vw;
  color: rgba(52, 52, 52, 1);
}

.desc {
  color: rgba(98, 98, 98, 1);
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 400;
}

.price {
  margin-top: 0.45vw;
  font-weight: 700;
  font-size: 1.67vw; 
  color: rgba(74, 170, 78, 1);
}

.product {
  position: relative;
  text-align: center;
  margin-right: 1vw; 
}

.productImage {
  width: 23vw; 
  height: 27vw;
  border-radius: 3px;
  object-fit: cover;
}

.likeButton {
  position: absolute;
  top: 0.83vw; 
  right: 0.83vw; 
  width: 2.5vw; 
  height: 2.5vw; 
  border-radius: 50%;
  border: none;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.likeButton:hover {
  cursor: pointer;
}

.watchMore {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chevronIcon {
  display: flex;
  align-items: center;
  margin-top: 0.38vw; 
}

.watchMoreText {
  margin-top: 1.07vw; 
  font-weight: 400;
  font-size: 1.07vw;
  color: rgba(98, 98, 98, 1);
}

.watchMoreText:hover {
  cursor: pointer;
}
