.name {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.2vw;
    color: rgba(52, 52, 52, 1);
    margin-bottom: 0.5vw;
}

.type {
    margin-top: 0;
    margin-bottom: 0.5vw;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: rgba(98, 98, 98, 1);
    font-size: 0.9vw;
}

.price {
    margin-top: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1vw;
    color: rgba(74, 170, 78, 1);
}

.infoHeader {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1vw;
    color: rgba(98, 98, 98, 1);
}

.info {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1vw;
    color: rgba(149, 149, 149, 1);
}

hr {
    margin-top: 2vw;
    border: 1px solid rgba(204, 204, 204, 1);
}

.order {
    display: flex;
    align-items: center;
    margin-top: 1vw;
}

.orderButton,
.creditButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 0.8vw;
    border-radius: 1vw;
    border: none;
    width: 16vw;
    height: 2vw;
    padding: 1.5vw;
    margin-right: 1.5vw;
    cursor: pointer;
}

.orderButton {
    background-color: black;
    color: white;
}

.orderButton:hover,
.creditButton:hover {
    cursor: pointer;
}

.creditButton {
    border: 1px solid black;
    background: white;
}

.heartButton,
.cartButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 1.5vw;
}

.sizeColor .choose {
    font-family: "Roboto", sans-serif;
    color: rgba(52, 52, 52, 1);
    font-weight: 400;
    font-size: 0.9vw;
    margin-bottom: 0.25vw;
}
