.main-image {
  margin-right: 2vw; 

  img {
      width: 30vw; 
      height: 35vw; 
      object-fit: cover;
      object-position: 60% 0;
  }
}

.small-images {
  display: flex;
  flex-direction: row;

  img {
      width: 9.8vw; 
      height: 10vw; 
      margin-right: 0.3vw; 
      object-fit: cover;
      object-position: 60% 0;
  }

  .smallproduct3 {
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
  }
}
